.main-container {
  width: 100%;
  min-height: 100vh;
  margin: 10px 0 0 0;
}
.action-icon {
  align-items: center;
  cursor: pointer;
}

.edit:hover {
  color: #00a5af;
}
.delete:hover {
  color: red;
}
.card-detail {
  cursor: pointer;
  transition: 500ms;
  border-left: 0px;
}
.card-detail:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-left: 5px solid #00a5af;
}
.justify-content-right {
  justify-content: right;
}
.create-post-btn {
  background-color: #0397a1 !important;
}
.space-btn {
  margin-right: 15px !important;
}
.comment-detail .ant-comment-inner .ant-comment-content .ant-comment-content-detail p {
  white-space: inherit !important;
  font-size: 16px;
}
.space-between {
  margin-right: 30px !important;
}
